.ball {
    background-color: rgb(170, 115, 115);
    border-radius: 50%;
    color: aliceblue;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 1.5em;
}